/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Website Default Font */
body {
  font-family: "Host Grotesk", sans-serif;
}

/* Button Common Style CSS */
.btn-common {
  background-color: #e8ba2e;
  font-family: "Host Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #1c1c1c;
  border: none;
  cursor: pointer;
  padding: 18px 24px;
  border-radius: 10px;
}
.btn-common i {
  padding: 0 8px;
}

/* Navbar section css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 2%;
}

.navbar-content {
  display: flex;
  justify-content: flex-start;
  gap: 85px;
}

.navbar-logo {
  text-decoration: none;
}

.navbar-logo img {
  width: auto;
  height: 40px;
  display: block;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #575757;
  font-size: 16px;
  font-weight: 500;
}

/* Hero section css */
.hero-container {
  position: relative;
  padding: 0 2%;
}

.hero-container .hero-image {
  width: 100%;
  height: 85vh;
  border-radius: 16px;
}

/* image Overly start*/
.hero-img {
  position: relative;
}
.hero-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);

  width: 100%;
  height: 85vh;
  border-radius: 16px;
}
/* image Overly end*/

.hero-content {
  position: absolute;
  left: 88px;
  bottom: 90px;
}

.hero-title {
  font-size: 88px;
  font-weight: 700;
  line-height: 100%;
  padding-bottom: 16px;
}
.hero-title span,
.hero-description span {
  display: block;
}
.text-white {
  color: #fff;
}

.hero-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.hero-content .btn {
  margin-top: 40px;
}

/* Statistics Section css*/
.statistics {
  padding: 14px 2%;
}

.statistics-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #f4c430;
}

.stat-card {
  padding: 40px 40px 53px;
}

.stat-title {
  font-size: 16px;
  font-weight: 400;
  color: #000102;
}

.stat-number {
  font-size: 72px;
  font-weight: 700;
  color: #000102;
  padding-top: 24px;
}

/* Host Cities CSS */
.host-cities {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  padding: 92px 8%;
}
.section-title {
  text-align: center;
  margin-bottom: 100px;
  font-size: 56px;
  font-weight: 600;
  color: #000102;
}

.host-city-card {
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 50px;
}

.city-image {
  margin-bottom: 50px;
}

.city-image img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
  border-radius: 16px;
}

.city-content {
  margin-top: 10px;
}

.city-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 700;
  color: #000102;
}

.city-description {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: #575757;
  margin-bottom: 12px;
}
.city-list {
  margin-left: 16px;
}

.city-item {
  font-size: 17px;
  font-weight: 700;
  line-height: 150%;
  color: #4d4d4d;
}

.host-action {
  text-align: center;
}

/* Matches circle css */
.matches-circle {
  padding: 20px 8%;
}

.matches-circle-header {
  padding: 24px;
}

.matches-circle-title {
  font-size: 32px;
  font-weight: 700;
  color: #111c2d;
}
.matches-circle-description {
  font-size: 16px;
  font-weight: 400;
  color: #505f76;
  padding-top: 10px;
}

.matches-table-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 21px;
}

.matches-table {
  border: 1px solid #000;
  border-collapse: collapse;
}
.matches-table th,
td {
  padding: 16px 24px;
  border: 1px solid #000;
  border-collapse: collapse;
}
.matches-table-head {
  background-color: #a73131;
  color: #fff;
}

.matches-table-row {
  text-align: center;
}

.matches-table-date {
  font-weight: 600;
  color: #ba1a1a;
}

.matches-table-venue {
  font-weight: 400;
  color: #505f76;
}

.matches-table tr {
  font-size: 16px;
}

.matches-table-match {
  font-weight: 600;
  color: #111c2d;
}

.matches-table-stage {
  font-weight: 600;
  text-transform: uppercase;
  color: #111c2d;
}

.matches-table-opening {
  color: #600000;
}

.matches-table-final {
  color: #bda00b;
}

/* Gallery Section CSS */
.gallery{
    padding: 92px 8%;
}

.gallery-header{
    text-align: center;
    margin-bottom: 70px;
}

.section-title{
  margin-bottom: 20px;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.gallery-card{
    overflow: hidden;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.gallery-image{
    width: 100%;
    height: 280px;
    display: block;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.gallery-card:hover .gallery-image{
    transform: scale(1.3);
}























