/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Website Default Font */
body {
  font-family: "Host Grotesk", sans-serif;
}

/* Button Common Style CSS */
.btn-common {
  background-color: #e8ba2e;
  font-family: "Host Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #1c1c1c;
  border: none;
  cursor: pointer;
  padding: 18px 24px;
  border-radius: 10px;
}
.btn-common i {
  padding: 0 8px;
}

/* Navbar section css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 2%;
}

.navbar-content {
  display: flex;
  justify-content: flex-start;
  gap: 85px;
}

.navbar-logo {
  text-decoration: none;
}

.navbar-logo img {
  width: auto;
  height: 40px;
  display: block;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #575757;
  font-size: 16px;
  font-weight: 500;
}

/* Hero section css */
.hero-container {
  position: relative;
  padding: 0 2%;
}

.hero-container .hero-image {
  width: 100%;
  height: 85vh;
  border-radius: 16px;
}

/* image Overly start*/
.hero-img {
  position: relative;
}
.hero-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);

  width: 100%;
  height: 85vh;
  border-radius: 16px;
}
/* image Overly end*/

.hero-content {
  position: absolute;
  left: 88px;
  bottom: 90px;
}

.hero-title {
  font-size: 88px;
  font-weight: 700;
  line-height: 100%;
  padding-bottom: 16px;
}
.hero-title span,
.hero-description span {
  display: block;
}
.text-white {
  color: #fff;
}

.hero-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.hero-content .btn {
  margin-top: 40px;
}
